#root{
  width: 100%;
}

.workspace {
  padding: 20px 0;
}

div#panel {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 30%;
  padding: 10px;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
}

.__react_component_tooltip.type-dark.place-top:after {
  border-top-width: 8px !important;
}

.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-width: 8px !important;
}